@charset "UTF-8";

body{
  color:            #ffffff;
  background:       #111111;
  background-color: #111111;
}
input[readonly],
textarea[readonly]{
  color:            #000000!important;
  background:       #cceeff!important;
  background-color: #cceeff!important;
}
table > caption{
  color:            #000000;
  background:       #ffffff;
  background-color: #ffffff;
}
table{
  color:            #000000;
}
table tr:nth-child(odd){
  background:       #eeeeee;
  background-color: #eeeeee;
  border-color:     #000000;
}
table tr:nth-child(even){
  background:       #dddddd;
  background-color: #dddddd;
  border-color:     #000000;
}
th{
  background:       #ffffff;
  background-color: #ffffff;
  border-color:     #000000;
}

.clear{
  color:            #111111!important;
  background:       #ffbdbd!important;
  background-color: #ffbdbd!important;
}
.run{
  color:            #111111!important;
  background:       #ffbb38!important;
  background-color: #ffbb38!important;
}
.condition{
  color:            #111111!important;
  background:       #f6ffa3!important;
  background-color: #f6ffa3!important;
}
.selection{
  color:            #111111!important;
  background:       #b4fea9!important;
  background-color: #b4fea9!important;
}
.oF{
  color:            #111111!important;
  background:       #ffbdbd!important;
  background-color: #ffbdbd!important;
}
.cF{
  color:            #111111!important;
  background:       #c2ffbd!important;
  background-color: #c2ffbd!important;
}
.jF{
  color:            #111111!important;
  background:       #bdcbff!important;
  background-color: #bdcbff!important;
}
.pF{
  color:            #111111!important;
  background:       #afd5d9!important;
  background-color: #afd5d9!important;
}
.sF{
  color:            #111111!important;
  background:       #f6ffa3!important;
  background-color: #f6ffa3!important;
}
.dF{
  color:            #111111!important;
  background:       #dddddd!important;
  background-color: #dddddd!important;
}
.wF{
  color:            #111111!important;
  background:       #ffffff!important;
  background-color: #ffffff!important;
}
