@charset "UTF-8";

body{
  width: 100%;
}
select, button{
  font-weight: bold;
}
input[type="checkbox"]{
  font-size: 12px;
  width: auto;
}
input{
  width: 97%;
}
textarea{
  width: 97%;
}

.width-max{
  width: 100%;
}
.width-auto{
  width: auto;
}

.no-border{
  border-collapse: collapse;
  border: none;
}
.border{
  border-collapse: collapse;
  border: 2px solid;
}
