@charset "UTF-8";

body{
  width: 100%;
}
select, button{
  font-weight: bold;
}
input[type="checkbox"]{
  width: auto;
}
input{
  width: 97%;
}
textarea{
  width: 97%;
}

.width-max{
  width: 100%;
}
.width-auto{
  width: auto;
}

.input-50{
  width: 50px;
}
.input-100{
  width: 100px;
}

.no-border{
  border-collapse: collapse;
  border: none;
}
.border{
  border-collapse: collapse;
  border: 2px solid;
}
