@charset "UTF-8";

body{
  max-width: 1024px;
  width: 100%;
  font-size: large;
  font-weight: bold;
}
select, button{
  font-size: large;
  font-weight: bold;
}
input{
  width: auto;
  font-size: large;
}
textarea{
  width: 100%;
}
td.bg-white, td.bg-black{
  width: 6px;
}
